<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Projetos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/portfolio.css">
    <link href="
   https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css
   " rel="stylesheet">
</head>

<body class="bg-custom text-white">
    <header class="bg-[rgb(40,41,62)] text-white shadow-xl header-animation">
        <div class="max-w-screen-xl mx-auto px-6 sm:px-8 py-6">
            <div class="flex items-center justify-between">
                <!-- Logo -->
                <div class="text-3xl font-bold tracking-wide text-white">
                    <a href="#"
                        class="text-white hover:text-gray-300 transition duration-300"><i class="fa-solid fa-brackets-curly"></i>
                        Csdev developer</a>
                </div>

                <!-- Menu de navegação (Mobile e Desktop) -->
                <nav class="hidden md:flex space-x-8">
                    <a href="../../index.html"
                        class="text-white text-lg font-medium hover:text-gray-300 transition duration-300">
                        <i class="fa-solid fa-house"></i> Home</a>
                    <a href="#sobre"
                        class="text-white text-lg font-medium hover:text-gray-300 transition duration-300"><i class="fa-regular fa-comment"></i>
                        Sobre</a>
                    <a href="#servicos"
                        class="text-white text-lg font-medium hover:text-gray-300 transition duration-300">
                        <i class="fa-solid fa-user-tie"></i> Portfolio</a>

                </nav>

                <!-- Botão de call-to-action -->
                <div class="hidden md:flex">
                    <a href="#contato"
                        class="bg-pink-600 hover:bg-pink-700 text-white px-8 py-3 rounded-full font-semibold transition duration-300"><i class="fa-regular fa-id-badge"></i>
                        Fale Conosco</a>
                </div>

                <!-- Menu Hambúrguer para mobile -->
                <div class="md:hidden">
                    <button id="menuToggle" class="text-white focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Menu hambúrguer no mobile -->
            <div id="mobileMenu" class="md:hidden mt-6 space-y-6 hidden">
                <a href="#home"
                    class="block text-white text-lg font-medium hover:text-gray-300 transition duration-300"><i class="fa-solid fa-house"></i>
                    Home</a>

                <a href="#servicos"
                    class="block text-white text-lg font-medium hover:text-gray-300 transition duration-300"><i class="fa-solid fa-user-tie"></i>
                    Portfolio</a>
                <a href="#contato"
                    class="block text-white text-lg font-medium hover:text-gray-300 transition duration-300"><i class="fa-regular fa-address-book"></i>
                    Contato</a>
                <a href="#contato"
                    class="block bg-pink-600 hover:bg-pink-700 text-white px-8 py-3 rounded-full font-semibold"><i class="fa-regular fa-address-book"></i>
                    Fale Conosco</a>
            </div>
        </div>
    </header>
    <section class="bg-custom">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Confira meu
                    trabalho e aproveite.</h2>
                <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400"> Confira abaixo meus projetos. Se
                    algum deles despertar seu interesse, entre em contato clicando no botão abaixo.</p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <i class="fa-solid fa-phone-alt"></i> Contato
                    </button>
                    <button
                    class="gradient-button"
                    type="button"
                    class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                  >
                     <i class="fa-solid fa-file-alt"></i> Curriculo
                  </button>
                </div>
            </div>
        </div>
    </section>

    <section id="projetos" class="py-20">
        <div class="max-w-7xl mx-auto px-6 lg:px-8">
            <h2 class="text-4xl font-extrabold text-center text-white mb-12 animate-slide-in">Meus Projetos</h2>
            <p class="text-lg text-center text-gray-300 max-w-3xl mx-auto mb-12 animate-slide-in">
                Explore alguns dos meus projetos mais recentes, que combinam tecnologia de ponta com design intuitivo.
                Cada um desses projetos é uma prova do meu compromisso com a inovação e qualidade.
            </p>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
                <!-- Card do Projeto 1 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">
                    <iframe class="w-full h-64 object-cover rounded-t-lg" width="560" height="315"
                        src="https://www.youtube.com/embed/BkCxcel-aqQ?si=eCmBhdGs5lX-ekpj" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4">Sistema Agendamento Offline
                            <i class="fas fa-check-circle text-green-500 ml-2"></i></h3>
                        <p class="text-gray-300 mb-6">Trabalhei como freelancer em um aplicativo de agendamento para uma
                            cliente do ramo de estética que precisava organizar seus horários de forma prática e
                            offline. 💖
                        </p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>

                <!-- Card do Projeto 2 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">


                        <iframe class="w-full h-64 object-cover rounded-t-lg" width="560" height="315" src="https://www.youtube.com/embed/eUjojLmp2Sw?si=cEPHizxdKq7jNbCh"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4">Sistema Barberia
                            <i class="fas fa-store text-yellow-500 ml-2"></i></h3>
                        <p class="text-gray-300 mb-6">Desenvolvi um sistema de agendamento para barbearia, integrando
                            APIs de pagamento, banco de dados SQL e um sistema de login e registro seguro. O projeto
                            permite que os clientes escolham serviços, agendem horários e realizem pagamentos de forma
                            prática e eficiente. 💈💳🚀</p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>

                <!-- Card do Projeto 3 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">
                    <iframe class="w-full h-64 object-cover rounded-t-lg" width="560" height="315"
                        src="https://www.youtube.com/embed/-Y4AibLa30s?si=Xx8y0oIG8jBghPoO" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4">Web site download de video
                            <i class="fas fa-blog text-blue-500 ml-2"></i></h3>
                        <p class="text-gray-300 mb-6">Desenvolvi um mini website para download de vídeos, utilizando
                            HTML, CSS, JavaScript e Node.js. O projeto conta com uma interface intuitiva e responsiva,
                            permitindo aos usuários baixar vídeos com diferentes qualidades de forma rápida e eficiente.
                            🚀</p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>

                <!-- Card do Projeto 4 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">
                <iframe  class="w-full h-64 object-cover rounded-t-lg" width="560" height="315" src="https://www.youtube.com/embed/PrJz5y003DI?si=la73_X8XFDzyRu3n"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4"> Site de livros
                            <i class="fa-solid fa-book"></i></h3>
                        <p class="text-gray-300 mb-6">E-commerce de Livros Completo
                        Desenvolvido com HTML, CSS, JavaScript, PHP (Slim), SQLite e Flowbite. Projeto 100% funcional com cadastro de livros,
                        carrinho de compras, login e design responsivo.</p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>

                <!-- Card do Projeto 5 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">
                    <img src="https://via.placeholder.com/600x400" alt="Projeto 5" class="w-full h-64 object-cover rounded-t-lg">
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4">Aplicativo de Clima
                            <i class="fas fa-cloud-sun text-orange-500 ml-2"></i></h3>
                        <p class="text-gray-300 mb-6">Aplicativo para previsões meteorológicas com dados em tempo real
                            de várias fontes externas.</p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>

                <!-- Card do Projeto 6 -->
                <div class="card bg-gray-800 hover:shadow-xl hover:scale-105 transition-all">
                    <img src="https://via.placeholder.com/600x400" alt="Projeto 6" class="w-full h-64 object-cover rounded-t-lg">
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold text-white mb-4">Controle Financeiro
                            <i class="fas fa-chart-line text-green-500 ml-2"></i></h3>
                        <p class="text-gray-300 mb-6">Aplicativo para controle de finanças pessoais, com gráficos
                            interativos e relatórios.</p>
                        <a href="#" class="btn-action">Ver Detalhes</a>
                    </div>
                </div>
            </div>

            <div class="text-center mt-12">
                <a href="#"
                    class="inline-block px-6 py-3 bg-gradient-to-r from-purple-600 to-indigo-600 rounded-full text-white font-bold text-lg transition-all hover:from-purple-500 hover:to-indigo-500 transform hover:scale-105">
                    Ver Todos os Projetos
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <!-- Seção de Contato -->
            <div class="footer-section contact">
                <h2 class="footer-heading"><i class="fa-solid fa-circle-user"></i> Entre em Contato</h2>
                <p class="footer-text">Tem alguma dúvida? Fale conosco, estamos aqui para ajudar!</p>
                <form class="contact-form">
                    <input type="text" placeholder="Seu nome"  id="nome" required class="contact-input"/>
                    <input type="email" placeholder="Seu e-mail" id="email" required class="contact-input"/>
                    <textarea placeholder="Sua mensagem" id="conteudo" required class="contact-textarea"></textarea>


                    <button id="btnSendEmail" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                <i class="fa fa-paper-plane ml-2"></i>  Enviar
              </button>

                </form>
            </div>

            <!-- Seção de Links -->
            <div class="footer-section links">
                <h2 class="footer-heading">Links Rápidos</h2>
                <ul class="footer-links">
                    <li><a href="#"><i class="fa fa-info-circle"></i> Sobre nós</a></li>
                    <li><a href="#"><i class="fa fa-cogs"></i> Serviços</a></li>
                    <li><a href="#"><i class="fa fa-pencil-alt"></i> Blog</a></li>
                    <li><a href="#"><i class="fa fa-file-contract"></i> Termos de uso</a></li>
                    <li><a href="#"><i class="fa fa-shield-alt"></i> Privacidade</a></li>
                </ul>
            </div>

            <!-- Seção de Redes Sociais -->
            <div class="footer-section social">
                <h2 class="footer-heading">Redes Sociais</h2>
                <ul class="social-icons">
                    <li><a href="#" class="social-link"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>

            <!-- Seção de Informações -->
            <div class="footer-section info">
                <h2 class="footer-heading">Informações</h2>
                <p class="footer-info"><i class="fa fa-location-dot"></i> Rua Exemplo, 123 - Cidade, Estado</p>
                <p class="footer-info"><i class="fa fa-phone"></i> (11) 1234-5678</p>
                <p class="footer-info"><i class="fa fa-envelope"></i> contato@empresa.com</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 CSDev. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="../script/menu.js"></script>
    <script src="../script/formEmail.js"></script>
    <script src="../../utils/alert.js"></script>
    <script src="
   https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js
   "></script>
</body>

</html>